@import "config";
@import "utilities";


//login page
#login-page .container{
    display: flex;

    .left{
        display: flex;
        flex-direction: column;
        flex: 1;
        align-items: center;
        justify-content: center;
        height: 100vh;

        .sign-in{
            width: 80%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .logo{
                margin-bottom: 5vh;
                width: 80%;
                text-align: center;
                color: #0ed2fe;
            }

            form{
                padding-bottom: 2rem;

                .input-container{
                    position: relative;

                    i{
                        position: absolute;
                        left: 10px;
                        top: 41px;
                        font-size: 1.2rem;
                        color: #0ed2fe;
                           
                    }
                }
                
                label{
                    font-size: 0.9rem;
                    line-height: 2rem;
                    font-weight: 500;

                }

                input{
                    width: 100%;
                    margin-bottom: 1.3rem;
                    border-radius: 5px;
                    border: 1px solid #555;
                    line-height: 1.3rem;
                    outline: none;
                    padding: 0.5rem 1rem;
                    color: #333;
                    padding-left: 40px;
                }
                
            }

            .login-links a{
                text-decoration: none;
                display: block;
                margin-bottom: 0.5rem;
                text-align: center;
                color: $secondary-color;
                line-height: 1.5rem;
                
                
            }
        }
    }

    .right{
        flex: 1;
        
        

        #showcase{
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            background: url("../img/office.png") no-repeat center center/cover;
            height: 100vh;
            
            
            .showcase-text{
                font-size: 3rem;
                font-weight: 600;
                text-shadow: 0px 2px 2px rgba(255, 255, 255, 0.4);
                margin-bottom: 3rem;

            
            }
        }
    }

}

//sign-up page

#sign-up{

    .container{
        display: flex;
        height: 100vh;
    }

    .left{
        flex: 1;
        
        

        #showcase{
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            background: url("../img/desk.png") no-repeat center center/cover;
            height: 100vh;

            .showcase-text{
                font-size: 3rem;
                font-weight: 600;
                text-shadow: 0px 2px 2px rgba(255, 255, 255, 0.4);
                margin-bottom: 3rem;

            
            }

        }

        


        

    }

    .right{
        display: flex;
        flex: 1;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
        .sign-up-content{
            width: 80%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .logo{
                text-align: center;

                p{
                    color: #003cc0;
                    font-weight: 600;
                    font-size: 1.2rem;
                }

                small{
                    color: #0ed2fe;
                    display: none;
                }
            }

            form{
                padding-bottom: 1rem;

                .input-container{
                    position: relative;

                    i{
                        position: absolute;
                        left: 10px;
                        top: 41px;
                        font-size: 1.2rem;
                        color: #0ed2fe;              
                    }
                }
                
                label{
                    font-size: 0.9rem;
                    line-height: 2rem;
                    font-weight: 500;

                }

                input{
                    width: 100%;
                    margin-bottom: 0.4rem;
                    border-radius: 5px;
                    border: 1px solid #555;
                    line-height: 1.3rem;
                    outline: none;
                    padding: 0.5rem 1rem;
                    color: #333;
                    padding-left: 40px;
                }
                
            }

            .login-links a{
                text-decoration: none;
                display: block;
                margin-bottom: 0.5rem;
                text-align: center;
                color: $secondary-color;
                line-height: 1.5rem;       
                
            }
            
        }
    }
}


//Home-page styling
#home-page{
    .nav{
        background: lighten($color: $secondary-color, $amount: 10);
        color: $primary-color;
        position: relative;

        .nav-menus{
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 60px;
            padding: 20px;
            font-size: 16px;
            z-index: 100;

            .logo{                
                text-align: center;
                left: 40%;
                position: absolute;

            }

        

            ul{
                display: flex;
                margin-bottom: 7px;

                &.right-menu{
                    .search-box{
                        background: inherit;
                        padding: 0.4rem;
                        border-radius: 50px;
                        z-index: 101;
                        
                        &:hover{
                            background: $primary-color;
                            
                        }
                        
                        &:hover>.search-text{
                            width: 120px;
                            
                        }

                        &:hover> a{
                            background: lighten($color: $secondary-color, $amount: 10);

                        }

                        a{
                            padding: 0.3rem;
                            transition: 0.4s;
                            border-radius: 50%;
                            
                        }
                        
                        .search-text{
                            border: none;
                            outline: none;
                            background: none;
                            padding-left: 10px;
                            color: $complimentary-color;
                            font-size: 14px;
                            transition: 0.4s ease-in-out;
                            //line-height: 20px;
                            width: 0px;                 
                        }
                    }

                    li:not(.search-box){
                        margin-top: 20px;
                    }
                }

                li{
                    padding: 0 20px;
                    margin-top: 0.9rem;
                    
                    


                    &:hover>ul{
                        display: block;
                        transition: 0.5s ease-in-out;
                        
                    }

                    a{
                        padding-bottom: 2px;
                        color: $primary-color;
                        

                        &:hover{
                            border-bottom: 2px solid $complimentary-color;
                            
                        }
                    }
                }
            }
        }

        .main-menu{
            position: absolute;
            top: 0;
            left: -100%;
            height: 100vh;
            width: 100%;
            max-width: 250px;
            background: lighten($color: $secondary-color, $amount: 30);
            z-index: 1000;
            padding-top: 30px;
            transition: all 0.1s ease-in;
            
        
            
            li{
                margin: 15px 0;

                a {
                    color: $primary-color;
                    i{
                        padding-right: 25px;
                    }

                    &:hover{
                        color: #e5e5e5;
                    }
                }
                
            }
            
            &.active{
                left: 0%;
                transition: all 0.3s ease-in;
            }

        }

        .toggle{
            cursor: pointer;

            &.menu-close{
                position: absolute;
                left: 210px;
                top: 33px;
            }

            i{
                font-size: 24px;
            }

        }
    }

    .showcase{
        

        .carousel-img{
            height: 50vh;
            width: 100%;
        }

        .elegant-shadow{
            //text-shadow: -1px -1px 3px #020202, 
                            //2px 2px 4px #1b1b1b;
            text-shadow: 0px 2px 4px black;
            
        }

    }


    //home-page cards
    .book-card{
        width:250px;
        margin: auto;
        height: 320px;
        
    }

    .popular-movies{
        .row{
            background:  #f0f0f0;

        }
        
        li a{
            font-size: 13px ;
            color: #003cc0 ;
        }
    }

    .pricing{
        li{
            padding: 5px 0;
        }
    }


    .newsletter{
        background-color: #e5e5e5;
    }

    footer{
        background-color: darken($color: #e5e5e5, $amount: 15) ;
        
    }
}


//dashboard section
#dashboard{

    .nav{
        background-color:$secondary-color;
       padding: 15px 0;
       color: $primary-color;
       overflow: hidden;
       
       

        .nav-menus{
            display: flex;
            justify-content: space-between;

            .search-box{
                flex: 1;
                margin-left:210px ;
                position: relative;

                a{
                    position: absolute;
                    left: 10;
                    top: 7;
                }

                input[type="search"]{
                    padding-left: 35px;
                    border-radius: 50px;
                    border: none;
                    outline: none;
                    width: 240px;
                    line-height: 2;
                    font-size: 14px;
                }
            }

            .nav-items{
                display: flex;
                justify-content: space-around;
                

                li{
                    padding-left: 30px;

                    a{
                        color: $primary-color;
                    }
                }
            }
        }
    }

    .board{
        overflow: hidden;
        .sidebar{
            min-height: 100%;
            
            padding: 30px 0;
            background: darken(#f4f5fa,10);

            ul{
                margin-left: 20px;
            }

            li{
                padding: 10px 0;
                width: 100%;

                a{
                    color: #333;
                    
                    i{
                        padding-right:20px ;
                    }

                    

                }

            }
        }

        
        &-content{
            background: #f5f6ff;
            .progress{
                height: 15px;
                
            }

            #chartdiv{
                width: 100%;
                height: 260px;
            }

            li{
                display: flex;
                justify-content: space-between;
                padding: 10px 15px;
                

                h2{
                    font-size: 14px;
                    font-weight: bold;

                    small{
                        font-size: 13px;
                    }
                }
            }

            table{
                
                
                td{
                    font-size: 13px;
                    
                }
            }

            form{
                div{
                    display: flex;
                    justify-content: space-between;
                    margin: 5px 0;
                    

                    input{
                        width: 75%;
                    }

                    select{
                        width: 75%;
                    }
                }
            }
        }
    }

}


//edit profile page
.profile-page{
    height: 100%;
    min-height: 100vh;

    
    .card-title{
        padding-top: 20px;
    }

    .card-body{
        li{
            display: flex;
            justify-content: space-between;
            padding: 10px 0;
            //flex-wrap: wrap;

            small{
                font-size: 12px;
                font-weight: bold;
            }

            
        }
    }

    
}

















@import "mobile";